* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.loading {
  display: flex;
  align-self: center;
  margin: 0;

}

.home-link {
  color: black;
  text-decoration: none;
}

.home-link:hover {
  color: rgb(53, 51, 51)
}

.navbar {
  position: -webkit-sticky;
  font-size: large;
  font-weight: 400;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(gray, white);
  width: 100%;
  height: 13vh;
  border-bottom: 1px solid gray;
}

.shop {
  color: black;
  text-decoration: none;
}

.shop:hover {
  font-weight: bold;
}

input {
  margin-right: 3px;
  background-color: transparent;
  color: black;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 15px;
  padding-left: 3px;
}
.searchbar button {
  background-color: transparent;
  font-size: 1rem;
}

 button:hover {
  font-weight: bold;
  background-color: transparent;
}

.newest-eds {
  padding-top: 2rem;
}

.bookscontainer {
  display: flex;
  width: 100%;
  min-height: 74vh;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(4, calc(27% - .50 * 0.5rem - 1rem)); */
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.main {
  position: relative;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.main-genre {
  position: relative;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3.5rem;
}

.main-image {
  height: 14rem;
}

.main-genre img {
  height: 13rem;
}
img {
  box-shadow: 4px 4px 5px rgb(15, 15, 15);
  /* position: relative; */
}

/* img:hover {
  opacity: .9;
  box-shadow: 6px 6px 7px rgb(15, 15, 15);
} */

.footer {
  color: black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(white, gray);
  width: 100%;
  height: 13vh;
  border-top: 1px solid gray;
}

/* .books {
  min-height: 75vh;
  color: black;
} */

.book-title {
  color: black;
}

.newest-eds {
  margin-bottom: -5px;
}

/* .single-book-title:hover {
  padding: 5px;
  color: black;
  opacity: 1; */
/* background-color: .5, gray; */
/* } */
.book-hover {
  position: absolute;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow:  3px 3px 5px black;
  opacity: 0;
  background-color: rgb(234, 237, 239);
  max-height: 100%;
  position: absolute;
  overflow: auto;
  bottom: 16.5rem;
  padding: .5rem;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
book-hover h4 {
margin: 0;
}

.book-hover:hover {
  opacity: .9;
}
.loading {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}